<h1> CharacterBook</h1>
<h2><%= @district.name%> </h1>
<h2><%= @school.name%> </h1><br/>
<h2>Standard : <%= @standard.name%> </h1><br/>

<br/>
<% @standard.curriculum_strands.each{ |strand|%>
  <%= link_to strand.name , school_character_book_strand_path(
@district.nickname,
@school.nickname,
@curriculum_content_areas[0].code,
@standard.code,
strand.code
) %><br/>
<% } %>
<br/>
<%= link_to "CharacterBook for #{@school.name}" , school_character_book_path( @district.nickname , @school.nickname ) %><br/>
<%= link_to "School Site for #{@school.name}" , school_site_path( @district.nickname , @school.nickname ) %><br/>
<%= link_to "District Site for #{@district.name}" , district_site_path( @district.nickname ) %><br/>

