<h1> CharacterBook</h1>
<h2><%= @district.name%> </h1>
<h2><%= @school.name%> </h1><br/>
<h2>Standard : <%= @standard.name%> </h1><br/>
<h2>Strand : <%= @strand.name%> </h1><br/>

<br/>
<%= link_to "CharacterBook StandardPage for #{@school.name}" , school_character_book_standard_path( @district.nickname , @school.nickname , @standard.code ) %><br/>
<%= link_to "CharacterBook for #{@school.name}" , school_character_book_path( @district.nickname , @school.nickname ) %><br/>
<%= link_to "School Site for #{@school.name}" , school_site_path( @district.nickname , @school.nickname ) %><br/>
<%= link_to "District Site for #{@district.name}" , district_site_path( @district.nickname ) %><br/>

