<% content_for :message_region do %>
  MarketingContextTypes<br/>
  List
<% end %>

<% content_for :main do %>

<table>
  <tr>
    <th>Id</th>
    <th>Order</th>
    <th>Name</th>
    <th>Prompt</th>
    <th>Service Type List</th>
  </tr>
 
<% @marketing_context_types.each do |marketing_context_type| %>
  <tr>
    <td><%= marketing_context_type.id %></td>
    <td><%= marketing_context_type.order %></td>
    <td><%= marketing_context_type.name %></td>
    <td><%= marketing_context_type.prompt %></td>
    <td><%= marketing_context_type.service_type_list %></td>
    <td><%= link_to 'Show', marketing_context_type %></td>
    <td><%= link_to 'Edit', edit_marketing_context_type_path(marketing_context_type) %></td>
    <td><%= link_to 'Destroy', marketing_context_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'New marketing_context_type', new_marketing_context_type_path %>
<% end %>
