<%= form_for( [@activity,@time_log]) do |f| %>
  <% if @time_log.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@time_log.errors.count, "error") %> prohibited this time log from being saved:</h2>
    <ul>
    <% @time_log.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

    <%= f.hidden_field :activity_id %>
    <%= f.hidden_field :user_id %>

   <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
