<%= @iphone_component.netzke(self) do |config| %>
<% config.content_for :message_region do %>
  Time Log List for<br/>
  <%= render "activity.html.erb" %>
<% end %>

<% config.content_for :target_region do %>
<table>

  <tr>
    <th>Id</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Continue?</th>
  </tr>

<% @time_logs.each do |time_log| %>
  <tr>
    <td><%= time_log.id %></td>
    <td><%= time_log.start_time.strftime('%m/%d/%Y %I:%M %p') %> </td>
    <td><%= time_log.end_time.nil? ? "in process" : time_log.end_time.strftime('%m/%d/%Y %I:%M %p') %></td>

    <td><%= time_log.end_time.nil? ? ( link_to 'Go', continue_activity_path(@activity.id, time_log.id) ) : "" %></td>

    <td><%= link_to 'Show', activity_time_log_path(@activity.id, time_log.id) %></td>
    <td><%= link_to 'Edit', edit_activity_time_log_path(@activity.id, time_log.id) %></td>
    <td><%= link_to 'Destroy', delete_time_log_path(@activity.id, time_log.id), :confirm => 'Are you sure?' %></td>

  </tr>
<% end %>

</table>

<br />
<%= link_to ( @time_logs.length==0 ? 'Start Activity' :'Restart Activity'), start_activity_path( @activity.id ) %> |
<%= link_to 'Show Activity', activity_path( @activity.id )  %>

<% end %>

<% end %>

