<%= @iphone_component.netzke(self) do |config| %>
<% config.content_for :message_region do %>
  Show Time Log Entry for Activity<br/>
  <%= render "activity.html.erb" %>
<% end %>

<% config.content_for :target_region do %>

<p>
  <b>Start Time:</b>
  <%= @time_log.start_time.strftime('%m/%d/%Y %I:%M %p') %>
</p>

<p>
  <b>End Time:</b>
  <%= ( @time_log.end_time.nil? ? 'in process' : @time_log.end_time.strftime('%m/%d/%Y %I:%M %p') ) %>
</p>

<%= link_to 'Restart Activity', start_activity_path( @activity.id ),:format=> :iphone %> |
<%= link_to 'Edit', edit_activity_time_log_path( @activity.id , @time_log.id ) %> |
<%= link_to 'Time Log List', activity_time_logs_path( @activity.id ) %> |
<%= link_to 'Activity List', activities_path() %>
<% end %>
<% end %>
