<% content_for :message_region do %>
  Show Time Log Entry for Activity<br/>
  <%= render "activity" %>
<% end %>

<% content_for :target_region do %>

<p>
  <b>Start Time:</b>
  <%= @time_log.start_time %>
</p>

<p>
  <b>End Time:</b>
  <%= @time_log.end_time %>
</p>

<%= link_to 'Edit', edit_activity_time_log_path(@activity.id, @time_log.id) %>
<%= link_to 'Back', activity_time_logs_path(@activity.id) %>

<% end %>
