<table id="top-table" class='transparent-class'>
<% if @disable_logins.nil? %>
 <tr>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </tr>
  <tr>
    <td><%= render 'devise/menu/registration_items' %></td>
    <td><%= render 'devise/menu/login_items' %></td>
    <% if user_signed_in? %>
      <td><%= render 'marketing_context_types/possible' %></td>
      <% if current_user.marketing_context_types.length > 0 %>
        <% if current_user.marketing_context_types.length > 1 %>
          <td><%= render 'marketing_context_types/existing' %></td>
        <% end %>
        <td><%= link_to "Delete #{current_user.current_marketing_context} Topic",
          delete_user_marketing_context_url(current_user.id,current_user.current_marketing_context_type) %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>


