<% content_for :message_region do %>
  <h2>Sign up</h2>

  <% if  true #session[:goto_topic_symbol] and session[:goto_topic_symbol] != 'welcome' %>
    Hello <%= session[:goto_topic_symbol].titleize  %> !
  <% end %>
<br/>
  <% if  true #session[:goto_topic_symbol] and session[:goto_topic_symbol] != 'welcome' %>
    Hello2 <%= session[:marketing_context_type]  %> !
  <% end %>
<br/>
  <% if true #@goto_topic_symbol and @goto_topic_symbol != 'welcome' %>
    gts <%= @goto_topic_symbol %>
  <% end %>
<br/>
  <% if true #@marketing_context_type and @marketing_context_type.name != 'welcome' %>
    mct <%= @marketing_context_type %>
  <% end %>
<br/>
  <% if true #@goto_service_symbol and @goto_service_symbol.name != 'welcome' %>
    gss <%= @goto_service_symbol %>
  <% end %>
<br/>

<% end %>

<% content_for :target_region do %>
<%= render "form" %>

<% end %>

