<h3>Living To Learn Meets Character Education Objectives:</h3>

We build Character Education on principles drawn from <%= link_to  "Josephson Institiute", "http://charactercounts.org/sixpillars.html" %> :
We are also beginning to draw on <%= link_to  "The center for Social and Character Development at Rutgers", "http://www.rucharacter.org/"%> and <%= link_to  "Character Education Partnership", "http://www.character.org" %> and <%= link_to  "STRYVE Striving To Reduce Youth Violence Everywhere","http://www.safeyouth.gov"%>

<%= render "character_curriculum_table" %>

