<h3>Living To Learn Meets Curriculum Director Objectives:</h3>

New mandates require new curricula. New curricula require new materials. New materials require new funding.
</br>

</br>
<b>What's a Curriculum Director to do?</b>
</br>
</br>
Answer : Living To Learn has 'Extra Academic Programs' that harness the power of a consortium of private and public sponsors to fund all the hard costs. Students get new program materials every month. Your staff gets the lesson plans. Result? You and your staff meet the mandates and your superintendant has one less budget problem!

We have a growing list of programs we support drawn from:
<%= link_to "2009 New Jersey Core Curriculum Content Standards", "https://www13.state.nj.us/NJCCCS/ContentAreaTableView_21st.aspx" %> and  <%= link_to "Partnership for 21rst Century Skills", "http://www.p21.org" %>

We also support more fundemental skills as well. See 'Basic Academic Programs'

<% Curriculum::ContentArea.all.each{ |content_area|%>
  <%= content_area.code %> <%= content_area.name %> <br/>
    <% content_area.curriculum_standards.each{ |curriculum_standard|%>
      <%= curriculum_standard.code %> <%= curriculum_standard.name %> <br/>
        <% curriculum_standard.curriculum_strands.each{ |strand|%>
          <%= strand.code %> <%= strand.name %> <br/>
            <% strand.cumulative_progress_indicators.each{ |indicator|%>
              <%  next if indicator.code == '0' %>
                <%= indicator.code %> By End Of Grade <%= indicator.by_end_of_grade %> <%= indicator.description %> <br/>
            <% } %>
       <% } %>
   <% } %>
<% } %>
