
<div style="display:none" id='testing'><div class="topic-detail"><%=render "testing"%></div></div>
<div style="display:none" id='tutoring'><div class="topic-detail"><%=render "tutoring"%></div></div></tr>
<div style="display:none" id='marketing'><div class="topic-detail"><%=render "marketing"%></div></div></tr>
<div style="display:none" id='publishing'><div class="topic-detail"><%=render "publishing"%></div></div></tr>

<div style="display:none" id='any'><div class="topic-detail"><%=render "any"%></div></div>
<div style="display:none" id='no_topics'><div class="topic-detail"><%=render "no_topics"%></div></div>

<div style="display:none" id='student'><div class="topic-detail"><%=render "student"%></div></div>
<div style="display:none" id='parent'><div class="topic-detail"><%=render "parent"%></div></div></tr>
<div style="display:none" id='non_profit'><div class="topic-detail"><%=render "non_profit"%></div></div></tr>
<div style="display:none" id='business'><div class="topic-detail"><%=render "business"%></div></div></tr>
<div style="display:none" id='government'><div class="topic-detail"><%=render "government"%></div></div></tr>
<div style="display:none" id='personality'><div class="topic-detail"><%=render "personality"%></div></div></tr>

<div style="display:none" id='curriculum_director'><div class="topic-detail"><%=render "curriculum_director"%></div></div></tr>
<div style="display:none" id='superintendant'><div class="topic-detail"><%=render "superintendant"%></div></div></tr>
<div style="display:none" id='principal'><div class="topic-detail"><%=render "principal"%></div></div></tr>
<div style="display:none" id='pto_officer'><div class="topic-detail"><%=render "pto_officer"%></div></div></tr>

<div style="display:none" id='basic_academic'><div class="topic-detail"><%=render "basic_academic"%></div></div></tr>
<div style="display:none" id='extra_academic'><div class="topic-detail"><%=render "extra_academic"%><div></div></tr>
<div style="display:none" id='character_education'><div class="topic-detail"><%=render "character_education"%><div></div></tr>

<div style="display:none" id='locations_nj'><div class="topic-detail"><%=render "locations_nj"%></div></div></tr>
<div style="display:none" id='locations_pa'><div class="topic-detail"><%=render "locations_pa"%></div></div></tr>

<div style="display:none" id='kidsville_news'><div class="topic-detail"><%=render "kidsville_news"%></div>
