<% content_for :top_table_region do %>

<p id="testing_link"><%= link_to_function("Student Testing","$('target').innerHTML = $('testing').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Small Group and Individual Tutoring","$('target').innerHTML = $('tutoring').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Eductional Publishing","$('target').innerHTML = $('publishing').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Marketing and PR","$('target').innerHTML = $('marketing').innerHTML")%></p>

<% end %>

<% content_for :main_table_region do %>

<TABLE id="welcome-table">

<TR>
<TD class='transparent-class' ><%= link_to_function("If You Are A Student","$('target').innerHTML = $('student').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You Are A Parent","$('target').innerHTML = $('parent').innerHTML")%></TD>
</TR>

<TR>
<TD class='transparent-class' ><%= link_to_function("If You Organize a Non-Profit","$('target').innerHTML = $('non_profit').innerHTML")%></TD>
<TD  class='transparent-class'><%= link_to_function("If You Organize a Business","$('target').innerHTML = $('business').innerHTML")%></TD>
</TR>

<TR>
<TD  class='transparent-class' ><%= link_to_function("If You Organize a Government","$('target').innerHTML = $('government').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You are a Personality","$('target').innerHTML = $('personality').innerHTML")%></TD>
</TR>

</TABLE>

<% end %>

<% content_for :hidden_region do %>
<DIV style="display:none" id='testing'><div class="topic_detail">
<%=render "testing"%></div></DIV>
<DIV style="display:none" id='tutoring'><div class="topic_detail"><%=render "tutoring"%></div></div></TR>
<DIV style="display:none" id='marketing'><div class="topic_detail"><%=render "marketing"%></div></div></TR>
<DIV style="display:none" id='publishing'><div class="topic_detail"><%=render "publishing"%></div></div></TR>


<DIV style="display:none" id='student'><div class="topic_detail"><%=render "student"%></div></DIV>
<DIV style="display:none" id='parent'><div class="topic_detail"><%=render "parent"%></div></div></TR>
<DIV style="display:none" id='non_profit'><div class="topic_detail"><%=render "non_profit"%></div></div></TR>
<DIV style="display:none" id='business'><div class="topic_detail"><%=render "business"%></div></div></TR>
<DIV style="display:none" id='government'><div class="topic_detail"><%=render "government"%></div></div></TR>
<DIV style="display:none" id='personality'><div class="topic_detail"><%=render "personality"%></div></div></TR>

<% end %>

