<% content_for :top_table_region do %>

<<<<<<< HEAD
<p><%= link_to_function("Student Testing","$('target').innerHTML = $('testing').innerHTML")%></p>
<p><%= link_to_function("Small Group and Individual Tutoring","$('target').innerHTML = $('tutoring').innerHTML")%></p>
<p><%= link_to_function("Eductional Publishing","$('target').innerHTML = $('publishing').innerHTML")%></p>
<p><%= link_to_function("Marketing and Public Relations","$('target').innerHTML = $('marketing').innerHTML")%></p>
=======
<p id="testing_link"><%= link_to_function("Student Testing","$('target').innerHTML = $('testing').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Small Group and Individual Tutoring","$('target').innerHTML = $('tutoring').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Eductional Publishing","$('target').innerHTML = $('publishing').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Marketing and PR","$('target').innerHTML = $('marketing').innerHTML")%></p>
>>>>>>> 6dccb6569baf2c4c5239ebe823135e699e4d3636

<% end %>

<% content_for :main_table_region do %>

<TABLE id="welcome-table">

<TR>
<TD class='transparent-class' ><%= link_to_function("If You Are A Student","$('target').innerHTML = $('student').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You Are A Parent","$('target').innerHTML = $('parent').innerHTML")%></TD>
</TR>

<TR>
<TD class='transparent-class' ><%= link_to_function("If You Organize a Non-Profit","$('target').innerHTML = $('non_profit').innerHTML")%></TD>
<TD  class='transparent-class'><%= link_to_function("If You Organize a Business","$('target').innerHTML = $('business').innerHTML")%></TD>
</TR>

<TR>
<TD  class='transparent-class' ><%= link_to_function("If You Organize a Government","$('target').innerHTML = $('government').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You are a Personality","$('target').innerHTML = $('personality').innerHTML")%></TD>
</TR>

</TABLE>

<% end %>

<% content_for :hidden_region do %>
<div style="display:none" id='testing'><div class="topic-detail">
<%=render "testing"%></div></div>
<div style="display:none" id='tutoring'><div class="topic-detail"><%=render "tutoring"%></div></div></tr>
<div style="display:none" id='marketing'><div class="topic-detail"><%=render "marketing"%></div></div></tr>
<div style="display:none" id='publishing'><div class="topic-detail"><%=render "publishing"%></div></div></tr>


<div style="display:none" id='student'><div class="topic-detail"><%=render "student"%></div></div>
<div style="display:none" id='parent'><div class="topic-detail"><%=render "parent"%></div></div></tr>
<div style="display:none" id='non_profit'><div class="topic-detail"><%=render "non_profit"%></div></div></tr>
<div style="display:none" id='business'><div class="topic-detail"><%=render "business"%></div></div></tr>
<div style="display:none" id='government'><div class="topic-detail"><%=render "government"%></div></div></tr>
<div style="display:none" id='personality'><div class="topic-detail"><%=render "personality"%></div></div></tr>

<% end %>

