
<% content_for :head do %>
  <meta name="Testing" content="Reading"/>
  <meta name="Testing" content="Writing"/>
  <meta name="Testing" content="Math"/>

  <meta name="Tutoring" content="Reading"/>
  <meta name="Tutoring" content="Writing"/>
  <meta name="Tutoring" content="Math"/>

  <meta name="Tutoring" content="Small Group"/>
  <meta name="Tutoring" content="Individual"/>
  <meta name="Tutoring" content="In Home"/>

  <meta name="Marketing" content="Sponsoring Kidsville News"/>
  <meta name="Marketing" content="Distributing Kidsville News"/>

  <meta name="Publishing" content="Kidsville News"/>

  <meta name="Student" content="Testing">
  <meta name="Student" content="Tutoring">

  <meta name="Parent" content="Student Testing">
  <meta name="Parent" content="Student Tutoringing">

  <meta name="NonProfit" content="Marketing">
  <meta name="NonProfit" content="Sponsoring Kidsville News">
  <meta name="NonProfit" content="Fundraising">

  <meta name="Business" content="Marketing">
  <meta name="Business" content="Distributing Kidsville News"/>
  <meta name="Business" content="Sponsoring Kidsville News"/>

  <meta name="Government" content="Sponsoring Kidsville News"/>

  <meta name="Personality" content="Public Relations">

<% end %>

<% content_for :top_table_region do %>

<p id="testing_link"><%= link_to_function("Student Testing","$('target').innerHTML = $('testing').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Small Group and Individual Tutoring","$('target').innerHTML = $('tutoring').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Educational Publishing","$('target').innerHTML = $('publishing').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Marketing and PR","$('target').innerHTML = $('marketing').innerHTML")%></p>

<% end %>

<% content_for :main_table_region do %>

<TABLE id="welcome-table">

<TR>
<TD class='transparent-class' ><%= link_to_function("If You Are A Student","$('target').innerHTML = $('student').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You Are A Parent","$('target').innerHTML = $('parent').innerHTML")%></TD>
</TR>

<TR>
<TD class='transparent-class' ><%= link_to_function("If You Organize a Non-Profit","$('target').innerHTML = $('non_profit').innerHTML")%></TD>
<TD  class='transparent-class'><%= link_to_function("If You Organize a Business","$('target').innerHTML = $('business').innerHTML")%></TD>
</TR>

<TR>
<TD  class='transparent-class' ><%= link_to_function("If You Organize a Government","$('target').innerHTML = $('government').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You are a Personality","$('target').innerHTML = $('personality').innerHTML")%></TD>
</TR>
<TR>
<TD class='transparent-class' ><%= link_to_function("If You live in NJ","$('target').innerHTML = $('locations_nj').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You live in PA","$('target').innerHTML = $('locations_pa').innerHTML")%></TD>
</TR>

</TABLE>

<% end %>

<% content_for :hidden_region do %>

<div style="display:none" id='testing'><div class="topic-detail"><%=render "testing"%></div></div>
<div style="display:none" id='tutoring'><div class="topic-detail"><%=render "tutoring"%></div></div></tr>
<div style="display:none" id='marketing'><div class="topic-detail"><%=render "marketing"%></div></div></tr>
<div style="display:none" id='publishing'><div class="topic-detail"><%=render "publishing"%></div></div></tr>


<div style="display:none" id='student'><div class="topic-detail"><%=render "student"%></div></div>
<div style="display:none" id='parent'><div class="topic-detail"><%=render "parent"%></div></div></tr>
<div style="display:none" id='non_profit'><div class="topic-detail"><%=render "non_profit"%></div></div></tr>
<div style="display:none" id='business'><div class="topic-detail"><%=render "business"%></div></div></tr>
<div style="display:none" id='government'><div class="topic-detail"><%=render "government"%></div></div></tr>
<div style="display:none" id='personality'><div class="topic-detail"><%=render "personality"%></div></div></tr>

<div style="display:none" id='locations_nj'><div class="topic-detail"><%=render "locations_nj"%></div></div></tr>
<div style="display:none" id='locations_pa'><div class="topic-detail"><%=render "locations_pa"%></div></div></tr>

<% end %>
