<% content_for :site_title_top_line do %>
Living To Learn
<% end %>

<% content_for :site_title_second_line do %>
Your Family's Education Matters
<% end %>

<% content_for :head do %>
<% end %>

<% content_for :message_region do %>
  <%= render 'index__message__region.html.erb' %>
<% end %>

<% content_for :top_table_region do %>
<% if @marketing_context_type.name == 'welcome' %>
All Services
<% else %>
Services for <%= @marketing_context_type.name.pluralize.titleize %>
<% end %>
  <% if @marketing_context_type.service_type_list  %>
    <% @marketing_context_type.service_type_list.each do |code|
      service = Service.find_by_code(code) %>
      <p class="testing_link"><%= link_to(service.name,goto_topic_service_path(@goto_topic_symbol,service.code))%></p>
    <% end %>
  <% else %>
    No Service Type List in marketing_context_type record or in view
  <% end %>

  <p class="testing_link"><%= link_to('Curricula',curriculum_root_path)%></p>

<% end %>

<% content_for :target_region do-%>
  <%= render @goto_service_symbol %>
<% end %>

<% content_for :main_region do %>
  <%= render 'index__main__region.html.erb' %>
<% end %>

<% if File.exists?(File.join(RAILS_ROOT,'app','views','welcome',"_#{@goto_topic_symbol}_table.html.erb")) %>
  <%= render "#{@goto_topic_symbol}_table" %>
<% end %>


