<%= form_for( @site_content , :html => { :multipart => true } ) do |f| %>
  <% if @site_content.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@site_content.errors.count, "error") %> prohibited this site_content from being saved:</h2>
    <ul>
    <% @site_content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :html %><br />
    <%= f.text_field :html %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

