<% content_for :message_region do %>
  List of LivingToLearn Site Content
<% end %>

<% content_for :target_region do %>
<table>
  <tr>
    <th>html</th>
    <th>type</th>
    <th>image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @site_contents.each do |site_content| %>
  <tr>

    <td><%= site_content.html %></td>
    <td><%= site_content.type %></td>
    <td><%= image_tag site_content.image.url(:thumb) %></td>
    <td><%= link_to 'Show', site_content %></td>
    <td><%= link_to 'Edit', edit_site_content_path(site_content) %></td>
    <td><%= link_to 'Destroy', site_content, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'New site content', new_site_content_path %>

<% end %>

