<% last_by_end_of_grade = nil%>
<ul>
<% @curriculum_content_areas.each{ |content_area|%>
  <li><%= content_area.code %> <%= content_area.name %>  </li>
    <ul>
    <% content_area.curriculum_standards.each{ |curriculum_standard|%>
      <li><%= curriculum_standard.code %> <%= curriculum_standard.name %> </li>
        <ul>
        <% curriculum_standard.curriculum_strands.each{ |strand|%>
          <li><%= strand.code %>. <%= strand.name %></li>
            <% strand.curriculum_content_statements.each{ |statement|%>
              <% next if statement.description == 'Skip'%>
              &nbsp;&nbsp;<%= statement.description %> <br/>
              <ul>
              <% statement.cumulative_progress_indicators.each{ |indicator|%>
                <%  next if indicator.code == '0' %>
                <% if last_by_end_of_grade != indicator.by_end_of_grade%>
                   &nbsp;&nbsp;&nbsp;&nbsp;By End Of Grade <%= indicator.by_end_of_grade %> <br/>
                <% end %>
                <% last_by_end_of_grade = indicator.by_end_of_grade %>
                <li><%= indicator.full_code %> <%= indicator.description %> </li>
              <% } %>
              </ul>
            <% } %>
        <% } %>
        </ul>
  <% } %>
  </ul>
<% } %>
</ul>

