<table id="curriculum">

<% if @parent %>
  <tr  class="breadcrumb" ><td colspan=<%=@all_grades.length+4%> >
    Parent: <%= link_to @parent[:name], curriculum_node_path( 'x', @parent[:node].id ) %>
  </td></tr>
<% end %>

<tr class="breadcrumb" >
<td colspan="<%=@all_grades.length+4%>">
  Current: <%= link_to @center[:name], curriculum_node_path( 'x', @center[:node].id ) %>
</td>
</tr>

<tr class="header">
  <th class="header">Klass</th>
  <th  class="description" rowspan="3">Description</th>
  <% Curriculum::Grade.all.each do |grade| %>
    <th rowspan="3" class="grade"><%= grade.cc_grade %></th>
  <% end %>
</tr>

<tr class="header"><th>Id</th></tr>
<tr class="header"><th>Code</th></tr>

<% @children.each_index do |index| ; child = @children[index] %>
  <tr>

    <td colspan="1" class="class" >
      <div><%=  child[:target].klassname %></div>
      <div><%=  child[:target].id %></div>
      <div><%=  child[:target].full_code %></div>
    </td>
    <td colspan="1" class="description" >
      <%=  link_to child[:name], curriculum_node_path( 'x', child[:node].id ) %>
    </td>
    <% Curriculum::Grade.all.each do |grade| %>
      <% ref_to_deadline = child[:target].deadline_relative_to(grade) %>
      <% ref_line = if ref_to_deadline > -2 and ref_to_deadline < 2 then
         grade.cc_grade
      end %>
      <td rowspan="1" class="grade" id="<%="#{grade.age}--index#{child[:node].id}"%>" >

        <div class="ref-line <%= "ref-to-deadline-#{ref_to_deadline}" %>">
          <%= ref_line %>
        </div>

        <div class="second_line">

        </div>

        <div class="third_line">

        </div>

      </td>
    <% end %>
  </tr>
<% end %>

</table>

