<% content_for :head do -%>

   <style>

   table#curriculum{
     border-width: 3px;
     border-spacing: ;
     border-style: outset;
     background-color: #FFCECE;
   }

   table#curriculum tr.breadcrumb{
     background-color: #FF99FF;
   }

   table#curriculum tr.header th{
     font-size: 10pt;
     text-align: center;
     background-color: #FFFFCC;
   }
i
   table#curriculum th.curriculum-description{
     font-size: 10pt;
   }

   table#curriculum td.class{
     width: 20;
     color: #000000;
     margin: 10pt;
     border: 1;
     font-size: 10pt;
   }

   table#curriculum td.id{
     width: 20;
     color: #000000;
     margin: 10pt;
     border: 1;
     font-size: 10pt;
   }

   table#curriculum td.code{
     width: 20;
   }

   table#curriculum th.description{
     padding:10px;
     width: 400px;
     color: #000000;
     margin: 10pt;
     border: 1;
     font-size: 10pt;
   }

   table#curriculum td.description{
     padding:5px;
     width:400px;
   }

   table#curriculum th.grade{
     width: 40px;
     color: #000000;
     font-size: 6pt;
   }

   table#curriculum td.grade{
     text-align: center;
     width: 40px;
     color: #000000;
     font-size: 6pt;
   }

   table#curriculum td.grade div.ref-line.ref-to-deadline--1{
     background: #33FF66;
   }

   table#curriculum td.grade div.ref-line.ref-to-deadline-0{
     background: #FFFF66
   }

   table#curriculum td.grade div.ref-line.ref-to-deadline-1{
     background: #FF3366;
   }

   </style>

<% end %>

<% content_for :message_region do %>
  Curriculum Standards
<% end %>

<% content_for :target_region do %>
<table id="curriculum">

<tr class="breadcrumb" >
<td colspan="<%=@all_grades.length+4%>">
  <% if @great_great_grand_parent %>
    <%= link_to @great_great_grand_parent[:name], curriculum_node_path( 'x', @great_great_grand_parent[:node].id ) %> >
  <% end %>
  <% if @great_grand_parent %>
    <%= link_to @great_grand_parent[:name], curriculum_node_path( 'x', @great_grand_parent[:node].id ) %> >
  <% end %>
  <% if @grand_parent %>
    <%= link_to @grand_parent[:name], curriculum_node_path( 'x', @grand_parent[:node].id ) %> >
  <% end %>
  <% if @parent %>
    <%= link_to @parent[:name], curriculum_node_path( 'x', @parent[:node].id ) %> >
  <% end %>
  <%= @center[:name] %>
</td>
</tr>

<tr class="header">
  <th class="header">Klass</th>
  <th  class="description" rowspan="3">Description</th>
  <% Curriculum::Grade.all.each do |grade| %>
    <th rowspan="3" class="grade"><%= grade.cc_grade %></th>
  <% end %>
</tr>

<tr class="header"><th>Id</th></tr>
<tr class="header"><th>Code</th></tr>

<% @children.each_index do |index| ; child = @children[index] %>
  <tr>

    <td colspan="1" class="class" >
      <div><%=  child[:target].klassname %></div>
      <div><%=  child[:target].id %></div>
      <div><%=  child[:target].full_code %></div>
    </td>
    <td colspan="1" class="description" >
      <% if child[:terminal] %>
        <%=  child[:name] %>
      <% else %>
        <%=  link_to child[:name], curriculum_node_path( 'x', child[:node].id ) %>
      <% end %>
    </td>

<% if @curriculum.nil? or @curriculum.by_grade? %>

    <% Curriculum::Grade.all.each do |grade| %>

      <% ref_to_deadline = child[:target].deadline_relative_to(grade) %>
      <% ref_line = if !ref_to_deadline.nil? and ref_to_deadline > -2 and ref_to_deadline < 2 then
           grade.cc_grade
         else
           nil
         end
      %>
      <td rowspan="1" class="grade" id="<%="#{grade.age}--index#{child[:node].id}"%>" >

        <div class="ref-line <%= "ref-to-deadline-#{ref_to_deadline}" %>">
          <%= ref_line %>
        </div>

        <div class="second_line">

        </div>

        <div class="third_line">

        </div>

      </td>
    <% end %>
<% end %>

  </tr>
<% end %>
</table>

<% end %>
