<table id="curriculum">

<% if @parent %>
  <tr><td colspan="18">
    <%= link_to @parent[:name], curriculum_node_path( 'x', @parent[:node].id ) %>
  </td></tr>
<% end %>

<tr>
<td colspan="<%=@all_grades.length%>" style="width:400"><%= link_to @center[:name], curriculum_node_path( 'x', @center[:node].id ) %></td>
</tr>

<tr>
<td></td>
<td></td>
<td colspan="1" width='400'></td>
<% Curriculum::Grade.all.each do |grade| %>
  <td colspan="1" width="40"><%= grade.cc_grade %></td>
<% end %>
</tr>

<% @children.each_index do |index| ; child = @children[index] %>
  <tr>

    <td colspan="1" width='20'><%=  child[:target].klassname %></td>
    <td colspan="1" width='10'><%=  child[:target].id %></td>
    <td colspan="1" width='400'><%=  link_to child[:name], curriculum_node_path( 'x', child[:node].id ) %></td>
    <% Curriculum::Grade.all.each do |grade| %>
      <% to_deadline = child[:target].deadline_relative_to(grade) %>
      <td colspan="1" width="40" class="curriculum-cell <%= "to-deadline-#{to_deadline}" %>" id="<%="#{grade.age}--index#{child[:node].id}"%>" >
        <%= grade.cc_grade %>
      </td>
    <% end %>
  </tr>
<% end %>

</table>

<% if @parent %>
<div id='curriculum' style='display:none'>
Parent
<div class='parent'>
Name:    <div class='name'><%= @parent[:name] %></div>
Id:    <div class='id'><%= @parent[:node].id %></div>
Length    <div class='length'><%='3'%></div>
</div>
<% end %>

Center

<div class='center'>
Name:    <div class='name'><%= @center[:name] %></div>
Id:    <div class='id'><%= @center[:node].id %></div>
Length    <div class='length'><%='3'%></div>
</div>

Children
<% @children.each do |child| %>
  <div class='child'>
Name:    <div class='name'><%= child[:name] %></div>
Id:    <div class='id'><%= child[:node].id %></div>
Length    <div class='length'><%='3'%></div>
  </div>
<br/>
<% end %>

</div>



