<div id='curriculum'>
Name:    <div class='name'><%= @target.name %></div>
End:    <div class='end'><%= @target.calc_by_end_of_grade %></div>
Length    <div class='length'><%='3'%></div>
<% @child_targets.each do |child_target| %>
  <div class='item'>
Name:    <div class='name'><%= child_target.name %></div>
End:    <div class='end'><%= child_target.calc_by_end_of_grade %></div>
Length    <div class='length'><%='3'%></div>
  </div>
<br/>
<% end %>

</div>

