<div id='curriculum' style='display:none'>

<% if @parent %>
Parent
<div class='parent'>
Name:    <div class='name'><%= @parent[:name] %></div>
Id:    <div class='id'><%= @parent[:node].id %></div>
End:    <div class='end'><%= @parent[:target].calc_by_end_of_grade %></div>
Length    <div class='length'><%='3'%></div>
</div>

<% end %>

Center

<div class='center'>
Name:    <div class='name'><%= @center[:name] %></div>
Id:    <div class='id'><%= @center[:node].id %></div>
End:    <div class='end'><%= @center[:target].calc_by_end_of_grade %></div>
Length    <div class='length'><%='3'%></div>
</div>

Children
<% @children.each do |child| %>
  <div class='child'>
Name:    <div class='name'><%= child[:name] %></div>
Id:    <div class='id'><%= child[:node].id %></div>
End:    <div class='end'><%= child[:target].calc_by_end_of_grade %></div>
Length    <div class='length'><%='3'%></div>
  </div>
<br/>
<% end %>

</div>

