<%= form_for(@activity) do |f| %>

  <% if @activity.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="visible:false">
   <%= f.hidden_field :parent_id %>
  </div>

  <div class="field">
    <% if @parent_activity.nil? %>
      <%= f.label "Activity Name" %><br />
    <% else %>
      <%= f.label "SubActivity Name" %><br />
    <% end %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
