<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN">
<html>
<head>

<title>LivingToLearn - Your Family's Education Matters</title>

<% if @uses_extjs_netzke %>
  <%= netzke_init %>
  <%= csrf_meta_tag %>
<% else %>
<%= javascript_include_tag :defaults %>
<% end %>
<%= yield :head -%>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<%= stylesheet_link_tag "application.html.css", :media => "all" %>

<script>
  function add_user_marketing_context(form,user_id,marketing_context_id) {
    form.action = 'user/' + user_id + '/add_marketing_context/' + marketing_context_id
    form.submit()
  }
  function select_user_marketing_context(form,user_id,marketing_context_id) {
    form.action = 'user/' + user_id + '/select_marketing_context/' + marketing_context_id
    form.submit()
  }
  function onLoad(){
    <%= yield :onload_script -%>
  }

</script>

</head>

<body style="<%=Screen.default.html_body_style%>">

<div id="marquee_region">
  <marquee id="marquee">
    <%= render 'welcome/marquee_region' -%>
  </marquee>
</div>

<table id="body-table" class='transparent-class'>

  <tr id="site_title_top_line"><td colspan="3" class='transparent-class'>
    <div id="site_title_second_line">
      <%= yield :site_title_top_line -%>
    </div>
  </td></tr>

  <tr id="site_title_second_line"><td colspan="3" class='transparent-class'>
    <div id="site_title_second_line">
      <%= yield :site_title_second_line -%>
    </div>
  </td></tr>

<% if (not @user_screen) %>
  <tr>
    <td><%= render 'users/user_region' -%></td>
  </tr>
<% end %>

</table>

<table id="body-table" class='transparent-class'>

  <tr><td><p class="notice"><%= notice %></p></td></tr>
  <tr><td><p class="alert"><%= alert %></p></td></tr>

  <tr id="top_bar">
    <td id="top_bar_left"><div id="message" class='transparent-class'>
      <%= yield :message_region -%>
    </div></td>

    <td id="top_bar_middle"><div id="logo">
      <%= render 'welcome/logo_region' -%>
    </div></td>

    <td id="top_bar_right" class='transparent-class'>
    <div id="top_table">
      <%= yield :top_table_region -%>
     </div>
    </td>
  </tr>

</table>

<div id="target" class='transparent-class'>
<%= yield :target_region -%>
</div>

<div id="main" class='transparent-class'>
<%= yield :main_region -%>
</div>

<div id="sponsor" class='transparent-class'>
  <%= render 'sponsor/sponsor_region' -%>
</div>

<div id="copyright" class='transparent-class' >
   <%= render 'welcome/copyright_region' -%>
</div>

</body>
</html>

