<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN">
<html>
<head>

<%= stylesheet_link_tag "application.iphone.css", :media => "all" %>
<style>
  div.notice{
    margin: 20px
  }
  div.alert{
    margin: 20px
  }
</style>
<%= yield(:head) %>
<title>LivingToLearn - Your Family's Education Matters</title>
  <%= netzke_init :platform => :touch %>
  <%= csrf_meta_tag %>

</head>

<body style="<%=Screen.default.html_body_style%>">

<% if Screen.default.mode == :frame %>
  <% res = Screen.default.device.resolution %>
  <div width="<%=res[:width]%>px" height="<%=res[:height]%>px" >
<% end %>
    <div id='touch-netzke' class='netzke-component'></div>
<% if Rails.env == 'development' %>
  </div>
<% end %>
  <% 'yield' %>
</body>
</html>

