<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN">
<!-- saved from url=(0036)http://www.mydoublem.net/living.html -->
<html>
<head>
<title>LivingToLearn - Your Family's Education Matters</title>
<%= yield :head -%>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<%= javascript_include_tag :defaults %>
<style type="text/css" media=screen>
   body {
   }

   #body_table td {
     width:200px;
   }

   #body_table tr {
     height:200px;
   }

   #body-table table{
     color: #ff9900;
     border: 1px solid black;
     table-layout:fixed;
     border-collapse:collapse;
     width: 600px;
   }

   #topic-prompt {
     position: relative;
     left: 260px;
     top: 40px;
     font-size: 30pt
   }

   #target {
     position: relative;
     left: 10px;
     top: 10px;
     font-size: 18pt;
      filter:alpha(opacity=90);
     -moz-opacity:0.9;
     -khtml-opacity: 0.9;
     opacity: 0.9;
     background: #66EECC;
     color: #003300;
     border: 1px solid black;
     width: 825px;
     padding: 12px;
   }

   #copyright {
     position: relative;
     left: 10px;
     top: 10px;
     font-size: 10pt;
      filter:alpha(opacity=90);
     -moz-opacity:0.9;
     -khtml-opacity: 0.9;
     color: #003300;
     border: 1px solid black;
     width: 825px;
     height: 15px;
     padding: 12px;
   }

   .transparent-class {
     filter:alpha(opacity=90);
     -moz-opacity:0.9;
     -khtml-opacity: 0.9;
     opacity: 0.9;
   }

   #text-block {
     width:270px;
     color: #663300;
     background: #FFFFCC;
     padding: 12px;
   }

   #top-table td{
     text-align: center;
     background: none repeat scroll 0 0 #E8EDFF;
     color: #666699;
     padding: 8px;
  }

   #welcome-table td{
     text-align: center;
     background: none repeat scroll 0 0 #E8EDFF;
     border-left: 5px solid #AABCFE;
     border-right: 5px solid #AABCFE;
     color: #666699;
     padding: 8px;
     width: 140px;
  }

  #top-table table{
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    text-align: center;
  }

  #welcome-table table{
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    text-align: center;
  }

   hr {color: #ff9900; height: 1px }
   a:hover {color: #ff0000; text-decoration: none}
</style>

</head>

<body background="/images/kids_hand_prints.jpg" onload="onLoad()">

<script type="text/javascript"> 
  function add_user_marketing_context(form,user_id,marketing_context_id) {
    form.action = 'user/' + user_id + '/add_marketing_context/' + marketing_context_id
    form.submit()
  }
  function select_user_marketing_context(form,user_id,marketing_context_id) {
    form.action = 'user/' + user_id + '/select_marketing_context/' + marketing_context_id
    form.submit()
  }
  function onLoad(){
    <%= yield :onload_script -%>
  }
</script>

<table id="top-table" class='transparent-class'>
<% if @disable_logins.nil? %>
  <tr>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </tr>
  <tr>
    <td><%= render 'devise/menu/registration_items' %></td>
    <td><%= render 'devise/menu/login_items' %></td>
    <% if user_signed_in? %>
      <td><%= render 'marketing_context_types/possible' %></td>
      <% if current_user.marketing_context_types.length > 0 %>
        <% if current_user.marketing_context_types.length > 1 %>
          <td><%= render 'marketing_context_types/existing' %></td>
        <% end %>
        <td><%= link_to "Delete #{current_user.current_marketing_context} Topic",
          delete_user_marketing_context_url(current_user.id,current_user.current_marketing_context_type) %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>

</table>

<table id="body-table">

  <tr><td colspan="3" class='transparent-class' style="font-size: 24px;background: none repeat scroll 0 0 #FFFFCE;text-align: center;"><%= yield :title_region -%></td></tr>

  <tr>
    <td id="text-block" class='transparent-class'>
    <%= yield :message_region -%>
    </td>

    <td><div id="image2">
    <img src="/images/LivingToLearnLogo.png" alt="" border="0" width="262" height="198">
    </div></td>

    <td id="text-block" style="margin:100px; padding:10px" class='transparent-class'>
    <div style="position:relative; left:10px">
      <%= yield :top_table_region -%>
     </div>
    </td>
  </tr>

  <tr></tr>

  <tr>
    <marquee width="678" height="38">
      <div class="wpmd">
        <div><font class="ws14" color="#000000">CALL 856 270 6810 FOR IMMEDIATE ASSISTANCE!</font></div>
      </div>
    </marquee>
  </tr>

</table>

<div id='target'>
<%= yield :target -%>
</div>

<div>
  <%= yield :main_table_region -%>
</div>

<div id="copyright">
  Copyright 2011 LivingToLearn&nbsp; LLC. All Rights Reserved.
</div>

</body>
</html>

