<% content_for :message_region do %>
  <h2>Sign up</h2>
  <% if  @context %>
     topic <%= @context.topic %><br/>
     service <%= @context.service %><br/>
     marketing <%= @context.marketing %><br/>
     subdomain_path <%= @context.subdomain_path %><br/>
     ref_type <%= @context.ref_type %><br/>
     ref_field <%= @context.ref_field %><br/>
     ref_value <%= @context.ref_value %><br/>
  <% end %>
<% end %>

<% content_for :target_region do %>
 
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<% end %>

